<!DOCTYPE html>
<html>

<head></head>

<body>
    <h2>You are successfully registered int the go-access!</h2>
    <p>Please follow this link to activate your account:</p>
    <p>{{.ActivationLink}}</p>
</body>

</html>